/*头部样式*/
#headerWrapper{
	position: relative;
	z-index: 999;
	background-color: #f9f9f9;
}

#header{
	position: relative;
	max-width: 900px;
	margin: 0 auto;
	padding: 20px 10px;
}

#logo{
	float: left;
}

@media screen and (max-width: 376px){
	#logo{
		margin-bottom: 30px;
	}
	#main-nav{
		bottom: 40px;
	}
}

#logo a{
	color: #222;
	font-weight: 700;
}
.logo-subtitle{
	letter-spacing: 5px;
	font-size: 12px;
	color: #aaa;
}

#main-nav{
	position: absolute;
	right: 20px;
}

#main-nav ul{
	position: relative;
	bottom: -20px;
}

#main-nav li{
	float: left;
}

#main-nav li a{
	display: inline-block;
	line-height: 20px;
	font-size: 16px;
	color: #444;
	font-family: cartonFont;
}

#main-nav li a:hover{
	color: #111;
}

#main-nav li+li{
	margin-left: 20px;
}

/*post style*/
#mainContent{
	position: relative;
	max-width: 900px;
    padding: 20px 10px;
    margin: 0 auto;
}

#mainContent h1{
	font-size: 18px;
	font-weight: 600;
}

#mainContent h2{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 5px;
}

#mainContent h3{
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 5px;
}

#mainContent p{
	margin-bottom: 15px;
}

#mainContent p a{
	color: #111;
	text-decoration: underline;
}

#mainContent p a:hover{
	color: #444;
}

#mainContent ul{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0 0 0 40px;
}


#mainContent ul li{
	list-style: disc;
	line-height: 150%;
}


#mainContent ul a{
	color: #666;
}

#mainContent ul a:hover{
	color: #222;
}


.post a{
	color: #444;
}

.post h1 a:hover,.post h2 a:hover{
	color: #222;
	text-decoration: none;
}

.post a:hover{
	color: #999;
	text-decoration: underline;
}

.post-info a{
	font-size: 12px;
	color: #9c9c9c;
}

.post-info a:hover{
	color: #444;
}

.post-body{
	position: relative;
	margin-top: 10px;
	margin-bottom: 50px;
	font-size: 14px;
}

.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6,
.post-body p{
    margin-top: 30px;
}

/*文章索引页*/
.posts-index li{
	padding: 5px 0;
	list-style: disc;
}

.posts-index a{
	display: inline-block;
	color: #666;
	height: 20px;
	line-height: 20px;
}

.posts-index a:hover{
	color: #444;
}

/*主体内容区*/
#mainContent{
	min-height: 400px;
}

.posts-index .post-time{
	font-size: 12px;
	color: #9c9c9c;
}


/*底部*/
#footer{
	max-width: 900px;
	margin: 10px auto;
	padding-top: 10px;
	font-size: 12px;
	text-align: right;
	border-top: 1px solid #e9eaec;
}

#footer a{
	color: #9c9c9c;
}

#footer a:hover{
	color: #444;
}



/*post摘要显示*/
.post-body .postMore{
	color: rgb(156, 14, 14);
}

.post-body .postMore:hover{
	color: red;
}


/*外部字体引入*/
@font-face {
    font-family: "cartonFont";
    src: url("../fonts/carton.ttf");
    src: local("☺"), url("../fonts/carton.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


#aboutMe *{
	font-family: cartonFont;
}

#aboutMe .missing{
	font-size: 16px;
	text-align: center;
	margin-top: 100px;
}


/*websites-page css*/
#websitesNav~ul{
	padding-left: 20px;
}

#websitesNav~ul li{
	list-style: none;
}

#websitesNav~ul li img{
	width: 20px;
	margin-right: 10px;
	vertical-align: -5px;
}
